/* -- main -- */
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    font-family: 'Inconsolata', monospace;
    --firstColor: #3bba9c;
    --secondColor: #00031f;
    --thirdColor: #2C323C;
    --barSecondColor: #454b55;
    --SokkiaColor: #00a9a8;
}

html, body {
    margin: 0;
    overflow: hidden;
    position: relative;
}
main {
    height: 100vh;
}

h1, h2, h3, p, span {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: inherit;
}
.quote {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    margin: 0;
}
.quote-origin {
    margin-left: 20px;
    font-weight: 200;
    font-size: 1rem;
}
#watermark {
    position: fixed;
    right: 25px;
    bottom: -10px;
    color: #6f6f6f;
    font-size: 1.35vw;
    z-index: 999999;
}
#watermark span {
    color: var(--firstColor);
    font-family: Arial, serif;
}

/* - circle - */
#circle-container {
    height: 100vh;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    color: black;
    padding: 50px;
    overflow: hidden;
    align-content: flex-start;
    justify-content: center;
}
.circle {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 0.3vw;
    width: 49%;
    height: 38.5vw;
}
.circle-elem {
    padding: 9.2vw;
    position: absolute;
    background-color: var(--firstColor);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    z-index: 100;
}
.circle.left .circle-elem {
    right: 0;
}
.circle.right .circle-elem {
    left: 0;
}
.circle.left .circle-elem:nth-child(1) {
    top: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.circle.left .circle-elem:nth-child(2) {
    top: 10vw;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.circle.left .circle-elem:nth-child(3) {
    top: 20vw;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.circle.right .circle-elem:nth-child(1) {
    top: 0;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.circle.right .circle-elem:nth-child(2) {
    top: 10vw;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.circle.right .circle-elem:nth-child(3) {
    top: 20vw;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.filler {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    background-color: white;
    width: 21vw;
    height: 21vw;
    left: -11vw;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 101;
}
.filler h2 {
    color: #000000;
    font-size: 3.35vw;
    margin-right: -1vw;
}
.filler span {
    color: var(--firstColor);
    font-family: Arial, serif;
}
.filler code {
    font-size: 1.2vw;
    color: var(--firstColor);
}
.circle.left .filler {
    left: auto;
    right: -10.6vw;
}
#navigation-toggle {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 10px 15px;
    background-color: var(--firstColor);
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 800;
    z-index: 200;
    opacity: 0;
    text-align: right;
}

/* - layer windows - */
.content-window {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    top: 0;
    right: -100%;
    opacity: 1;
}
.window-title {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding: 5px 20px;
    text-align: center;
    line-height: 40px;
    background-color: var(--thirdColor);
    width: 100%;
    color: #FFFFFF;
}
.window-title b {
    font-weight: 500;
}

.frame-active {
    z-index: 20;
}

#circle-container h4 {
    color: var(--thirdColor);
    font-size: 1.2vw;
    font-weight: 300;
    text-align: center;
    z-index: 100;
    flex: 1 1 100%;
}
.active-circle .circle-title-class {
    font-size: 1vw !important;
}
.circle-title-class {
    position: absolute;
    font-size: 1.5vw;
    text-align: center;
}
#circle-title-1 {
    transform: rotate(-27deg);
    top: 33%;
    left: 41%;
}
#circle-title-2 {
    transform: rotate(-90deg);
    top: 37%;
    left: 3%;
}
#circle-title-3 {
    transform: rotate(27deg);
    top: 61%;
    left: 49%;
}
#circle-title-4 {
    transform: rotate(27deg);
    top: 27%;
    left: 1%
}
#circle-title-5 {
    transform: rotate(90deg);
    top: 37%;
    left: 58%;
}
#circle-title-6 {
    transform: rotate(-27deg);
    top: 57%;
    left: 22%;
}

video {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* - slider - */
#slider-container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-flow: row nowrap;
    overflow: hidden;
}
.slider-elem {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 50px 10vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow: scroll;
}
.slider-left {
    position: absolute;
    cursor: pointer;
    background: var(--firstColor);
    padding: 10px 18px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    opacity: .6;
    left: 5%;
    top: 50%;
    z-index: 10;
}
.slider-right {
    position: absolute;
    cursor: pointer;
    background: var(--firstColor);
    padding: 10px 18px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    opacity: .6;
    right: 5%;
    top: 50%;
    z-index: 10;
}
.slider-right:hover , .slider-left:hover {
    opacity: 1;
}
.slider-nav-limit {
    background: var(--thirdColor);
    cursor: default;
}
.slider-nav-limit:hover {
    opacity: .6 !important;
}
/* slider-page 1 */
.slider-content-title {
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    background: var(--firstColor);
    color: #FFF;
    margin: 15px 0 30px 0;
    border-radius: 150px;
}
#slider-container p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.2rem;
}
.pd {
    padding-bottom: 95px;
}
/* slider-page 2 */
#slider-compound-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    line-height: 80px;
    margin-bottom: 7%;
    margin-top: 40px;
}
#slider-compound-title span {
    display: block;
}
#slider-compound-title span:nth-child(1) {
    font-size: 4rem;
    font-weight: 300;
}
#slider-compound-title span:nth-child(2) {
    font-size: 7rem;
}
#slider-compound-title span:nth-child(3) {
    font-weight: 300;
    line-height: 70px;
}
#slider-compound-title span:nth-child(4) {
    line-height: 40px;
    font-weight: 300;
}
#slider-compound-title span:nth-child(5) {
    line-height: 70px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.7rem;
}
#slider-compound-title b {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.7rem;
}
#slider-ideas-btn {
    padding: 20px 50px;
    background: var(--firstColor);
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    border: none;
    margin: 4% auto 0 auto;
    width: 60%;
    cursor: pointer;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    -moz-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
/* slider-page 3 */
#slider-product-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
    margin-bottom: -100px;
}
.slider-product-info {
    flex: 1 1 40%;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 12%;
    margin-right: -10%;
    z-index: 2;
}
#slider-product-wrapper .slider-product-info {
    max-width: 40%;
}
#slider-product-img {
    flex: 1 1 400px;
    background: url("../../assets/sokkia-flipped.png") no-repeat center;
    background-size: cover;
    min-height: 650px;
    max-height: 650px;
    max-width: 900px;
    margin: auto 0;
}
#slider-container .slider-elem:nth-child(5) {
    background: #000000;
    align-items: center;
}
#slider-product-title {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-size: 5rem;
    padding: 0 10%;
    line-height: 80px;
}
#sokkia-logo {
    width: 150px;
}
#slider-container .slider-elem:nth-child(5) a {
    color: var(--SokkiaColor);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 15px;
}
.slider-buy-rent-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
}
.slider-buy-rent-wrapper {
    flex: 1 0 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-width: 200px;
}
.slider-product-info h2 {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 45px;
}
.slider-product-info h2 span {
    color: var(--SokkiaColor);
    font-weight: 600;
}
.slider-product-info h3 {
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
}
.slider-buy-rent-container button {
    border-radius: 50px;
    border: none;
    padding: 12px 50px;
    margin-top: 15px;
    background: var(--SokkiaColor);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    white-space: nowrap;
}

/* - slider 4 - */
#pp-nav-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--thirdColor);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1px;
}
#pp-nav-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    color: #FFFFFF;
    padding: 0;
}
.pp-nav-elem {
    margin: 0 2vw;
    white-space: nowrap;
    opacity: .8;
    transition: opacity .2s ease-in-out;
    transform: translate3d(0,0,0);
}
.pp-nav-elem:hover {
    opacity: 1;
}
.pp-nav-elem:first-of-type {
    margin-left: 0;
}
.pp-nav-elem:last-of-type {
    margin-right: 0;
}
.pp-nav-elem a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}
.pp-nav-elem svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}
#sokkia-svg {
    width: 84px;
    margin-top: -2px;
}
#pp-nav-wrapper .pp-nav-elem:last-of-type svg:last-of-type {
    display: none;
}
#pp-content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
}
#pp-banner-br-container {
    border: none;
    margin-left: -10vw;
    width: 100vw;
    padding: 7px 7vw;
    font-weight: 500;
    background: var(--SokkiaColor);
}
#pp-image {
    flex: 1 1 400px;
    background: url("../../assets/sokkia-product-phone.png") no-repeat center;
    background-size: contain;
    max-width: 800px;
    min-height: 500px;
    max-height: 500px;
    margin: auto 0;
}
#pp-info-container {
    flex: 1 1 356px;
    margin: auto 0;
    padding: 0 50px;
    max-width: 480px;
}
#pp-info-container .slider-product-info {
    color: #000000;
    padding: 0;
 }
#trade-in-text-wrapper {
    margin: 7px 0 35px 0;
}
#trade-in-text-wrapper * {
    text-align: left !important;
}
#trade-in-text-wrapper a {
    color: var(--SokkiaColor);
}
.pp-buy-rent-container {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    width: 100%;
}
.pp-buy-rent-container:hover {
    border-color: var(--SokkiaColor);
}
.slider-product-info .pp-buy-rent-container {
    margin-bottom: 15px;
}
#slider-container .pp-price-wrapper p {
    font-size: 1.1rem;
    line-height: 25px;
    font-weight: 300;
    text-align: right;
}
#slider-container .pp-price-wrapper p:first-of-type {
    font-weight: 400;
    font-size: 1.2rem;
}
.disclaimer {
    text-align: left;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 10px;
}
.info-text {
    text-align: left;
    line-height: 30px;
    font-size: 1.2rem;
    color: var(--SokkiaColor);
    font-weight: 400;
}
.info-text b {
    font-weight: 500;
}

/* - media querys - */
@media only screen and (max-width: 620px) {
    #pp-nav-container {
        align-items: normal;
    }
    #pp-nav-wrapper {
    justify-content: space-between;
        padding: 0 10%;
     }
    #pp-nav-wrapper .pp-nav-elem {
        display: none;
    }
    #pp-nav-wrapper .pp-nav-elem:first-of-type, #pp-nav-wrapper .pp-nav-elem:last-of-type {
        display: list-item;
        opacity: 1;
    }
    #pp-nav-wrapper .pp-nav-elem:last-of-type svg:first-of-type {
        display: none;
    }
    #pp-nav-wrapper .pp-nav-elem:last-of-type svg:last-of-type {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .slider-left {
        left: 2%;
    }
    .slider-right {
        right: 2%;
    }
    .slider-content-title {
        font-size: 2.5rem;
    }
    #slider-ideas-btn {
        margin-top: 25%;
    }
    #slider-compound-title span:nth-child(2) {
        font-size: 5rem;
    }
    #slider-compound-title span:nth-child(3), #slider-compound-title span:nth-child(4), #slider-compound-title span:nth-child(5) {
        line-height: 50px;
    }
    .slider-product-info {
        order: 2;
        margin-top: -50px;
        flex: 1 1 100%;
        padding: 0 0 95px 0;
        margin-right: 0;
        align-items: center;
    }
    .slider-product-info h2 {
        text-align: center;
    }
    #slider-product-wrapper {
        margin-bottom: 0;
    }
    #slider-product-wrapper .slider-product-info {
        max-width: 100%;
    }
    #slider-product-img {
        order: 1;
        margin-bottom: 0;
        padding-bottom: 450px;
    }
    #slider-product-title {
        padding: 0 4%;
        font-size: 4rem;
        line-height: 70px;
    }
    #slider-buy-rent-container {
        width: 300px;
    }
    .slider-buy-rent-wrapper {
        align-items: center;
    }
    .slider-buy-rent-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 850px) {
    #pp-banner-br-container {
        display: none;
    }
}

@media only screen and (max-width: 944px) {
    #pp-image {
        margin: 50px 0;
        height: 40%;
        min-height: 400px;
    }
    #pp-info-container {
        margin: 0;
    }
    #pp-content-wrapper {
        height: auto;
        margin-top: 0;
    }
}

@media only screen and (min-width: 801px) and (max-width: 970px) {
    .slider-product-info {
        padding-left: 5%;
        margin-right: -15%;
    }
}


