/* - Intro Slider - */
:root {
    font-size: 1em;
    --firstColor: #3bba9c;
    --thirdColor: #2C323C;
}

#intro-slider {
    background-color: var(--thirdColor);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
#intro-title-container {
    display: flex;
    flex-flow: row nowrap;
    color: #FFFFFF;
}
#intro-title-container h1 {
    font-size: 8.5vw;
    position: relative;
}
#start-btn {
    padding: 12px 30px;
    text-align: center;
    background: var(--firstColor);
    border-radius: 50px;
    color: white;
    width: 20%;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}
#logoPow {
    position: relative;
    font-size: 6vw;
    margin-top: -1.7vw;
}
#intro-title-container h1::before {
    content: 'TOPCON';
    position: absolute;
    left: 0;
    text-shadow: -.3vw 0 var(--firstColor);
    white-space: nowrap;
    background: var(--thirdColor);
    overflow: hidden;
    top: 0;
    animation: glitch 5s 5.05s infinite;
}
.glitch {
    position: relative;
    animation: glitch 5s 5s infinite;
}
.glitch::before {
    content: 'X';
    position: absolute;
    left: 1%;
    text-shadow: -.3vw 0 magenta;
    white-space: nowrap;
    background: var(--thirdColor);
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}
.glitch::after {
    content: 'X';
    position: absolute;
    left: 0;
    white-space: nowrap;
    text-shadow: -.3vw 0 #3bba9c;
    background: var(--thirdColor);
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}
@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}
@keyframes noise-2 {
    3.3333333333% {
        clip-path: inset(30% 0 9px 0);
    }
    6.6666666667% {
        clip-path: inset(40% 0 10px 0);
    }
    10% {
        clip-path: inset(50% 0 1px 0);
    }
    13.3333333333% {
        clip-path: inset(20% 0 9px 0);
    }
    16.6666666667% {
        clip-path: inset(35% 0 30px 0);
    }
    20% {
        clip-path: inset(5% 0 89px 0);
    }
    23.3333333333% {
        clip-path: inset(100% 0 49px 0);
    }
    26.6666666667% {
        clip-path: inset(90% 0 24px 0);
    }
    30% {
        clip-path: inset(100% 0 38px 0);
    }
    33.3333333333% {
        clip-path: inset(2% 0 88px 0);
    }
    36.6666666667% {
        clip-path: inset(30% 0 12px 0);
    }
    40% {
        clip-path: inset(40% 0 11px 0);
    }
    43.3333333333% {
        clip-path: inset(45% 0 6px 0);
    }
    46.6666666667% {
        clip-path: inset(15% 0 72px 0);
    }
    50% {
        clip-path: inset(25% 0 31px 0);
    }
    53.3333333333% {
        clip-path: inset(30% 0 8px 0);
    }
    56.6666666667% {
        clip-path: inset(42% 0 21px 0);
    }
    60% {
        clip-path: inset(37% 0 10px 0);
    }
    63.3333333333% {
        clip-path: inset(1% 0 86px 0);
    }
    66.6666666667% {
        clip-path: inset(22% 0 30px 0);
    }
    70% {
        clip-path: inset(44% 0 30px 0);
    }
    73.3333333333% {
        clip-path: inset(25% 0 19px 0);
    }
    76.6666666667% {
        clip-path: inset(30% 0 37px 0);
    }
    80% {
        clip-path: inset(20% 0 55px 0);
    }
    83.3333333333% {
        clip-path: inset(42% 0 16px 0);
    }
    86.6666666667% {
        clip-path: inset(13% 0 4px 0);
    }
    90% {
        clip-path: inset(90% 0 40px 0);
    }
    93.3333333333% {
        clip-path: inset(14% 0 42px 0);
    }
    96.6666666667% {
        clip-path: inset(24% 0 52px 0);
    }
    100% {
        clip-path: inset(55% 0 3px 0);
    }
}
@keyframes noise-1 {
    0% {
        clip-path: inset(28px 0 22px 0);
    }
    3.3333333333% {
        clip-path: inset(41px 0 2px 0);
    }
    6.6666666667% {
        clip-path: inset(40px 0 12px 0);
    }
    10% {
        clip-path: inset(55px 0 22px 0);
    }
    13.3333333333% {
        clip-path: inset(2px 0 86px 0);
    }
    16.6666666667% {
        clip-path: inset(61px 0 29px 0);
    }
    20% {
        clip-path: inset(100% 0 9px 0);
    }
    23.3333333333% {
        clip-path: inset(75px 0 2px 0);
    }
    26.6666666667% {
        clip-path: inset(1px 0 83px 0);
    }
    30% {
        clip-path: inset(76px 0 13px 0);
    }
    33.3333333333% {
        clip-path: inset(30px 0 4px 0);
    }
    36.6666666667% {
        clip-path: inset(93px 0 1px 0);
    }
    40% {
        clip-path: inset(40px 0 8px 0);
    }
    43.3333333333% {
        clip-path: inset(80px 0 2px 0);
    }
    46.6666666667% {
        clip-path: inset(22px 0 29px 0);
    }
    50% {
        clip-path: inset(44px 0 35px 0);
    }
    53.3333333333% {
        clip-path: inset(75px 0 13px 0);
    }
    56.6666666667% {
        clip-path: inset(41px 0 8px 0);
    }
    60% {
        clip-path: inset(82px 0 19px 0);
    }
    63.3333333333% {
        clip-path: inset(75px 0 22px 0);
    }
    66.6666666667% {
        clip-path: inset(61px 0 38px 0);
    }
    70% {
        clip-path: inset(52px 0 39px 0);
    }
    73.3333333333% {
        clip-path: inset(60px 0 26px 0);
    }
    76.6666666667% {
        clip-path: inset(54px 0 9px 0);
    }
    80% {
        clip-path: inset(39px 0 27px 0);
    }
    83.3333333333% {
        clip-path: inset(15px 0 15px 0);
    }
    86.6666666667% {
        clip-path: inset(22px 0 57px 0);
    }
    90% {
        clip-path: inset(33px 0 2px 0);
    }
    93.3333333333% {
        clip-path: inset(93px 0 2px 0);
    }
    96.6666666667% {
        clip-path: inset(80% 0 22px 0);
    }
    100% {
        clip-path: inset(43px 0 45px 0);
    }
}
@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 2%);
    }
}
.subtitle {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1vw;
    color: rgba(59, 186, 156, .4);
    text-transform: uppercase;
    letter-spacing: 1em;
}
@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

/* - idea Page - */
#idea-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 25px 12%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: url("../../assets/backgrounds/background-collage.png") no-repeat bottom;
    background-size: cover;
}
#idea-page h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 8px 0 var(--thirdColor);
}

@media only screen and (max-width: 500px) {
    #idea-page h2 {
        font-size: 4.5rem;
    }
}

