/* -- main -- */
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    font-family: 'Inconsolata', monospace;
    --firstColor: #3bba9c;
    --secondColor: #00031f;
    --thirdColor: #2C323C;
    --barSecondColor: #454b55;
}

html, body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

h1, h2, h3, p, span {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: inherit;
}
#watermark {
    position: fixed;
    right: 25px;
    bottom: -10px;
    color: #6f6f6f;
    font-size: 1.35vw;
}
#watermark span {
    color: var(--firstColor);
    font-family: Arial, serif;
}

.slide {
    height: 100vh;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    background-color: white;
    color: black;
    padding: 50px;
    overflow: hidden;
    align-content: flex-start;
}
/* general / question slider */
main .slide:nth-child(2n) {
    background-color: var(--thirdColor);
    color: white;
}
/* study data slider */
#study-data-slide .slide:nth-child(2n+1) {
    background-color: var(--thirdColor);
    color: #FFFFFF;
}
#study-data-slide .slide:nth-child(2n) {
    background-color: #FFFFFF;
    color: #000000;
}

/* - Slider orientation nav - */
#orientation-nav-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 15px;
    height: 100%;
}

.or-nav-elem {
    margin: 12px 0;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid var(--firstColor);
}
.or-nav-elem--active {
    background-color: var(--firstColor);
}


/* '_' blink animation */
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}
.underline {
    font-weight: 500;
    animation: blink .7s infinite;
    margin-left: 7px;
}

.main-title-container {
    display: flex;
    flex: 100%;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 30px;
}
.main-title {
    display: flex;
    text-align: left;
}
.main-title > * {
    display: inline-block;
}

.main-title span, .underline {
    font-size: 5.5vw;
    line-height: 6vw;
    font-weight: 600;
}

.nav-controller a {
    font-weight: 100;
    font-size: 1.1rem;
}
.nav-controller a::before {
    content: '\25c5';
    margin-right: 10px;
}
.nav-controller a:hover {
    color: var(--firstColor);
    transition: .2s ease;
}

/* - anwser containers */
.sort-container {
    position: absolute;
    top: 57%;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#slide-4 .sort-container {
    top: 75%;
}

#slide-6 .sort-container {
    top: 57%;
}

.sort-container p {
    margin-bottom: 7px;
}

.next-btn {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.btn-light {
    color: #FFFFFF;
}
.next-btn:hover {
    color: var(--firstColor);
}

/* - drag & drop menu - */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}

.sort-list {
    margin: 0 0 9px 0;
    min-height: 10px;
    padding: 0;
    width: 50%;
}
.sort-list li {
    display: block;
    margin: 5px;
    padding: 12px 50px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 300;
    background: var(--firstColor);
    cursor: grab;
    border-radius: 50px;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    -moz-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.sort-list li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}
.sort-list li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: #000000;
    border-right: none;
}

.sl-light li.placeholder:before {
    border-left-color: #FFFFFF;
  }

/* - radio/checkbox buttons - */
.yn-radio-form {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.checkbox-form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.checkbox-form .form-container {
    flex: 1 1 500px;
}
.form-container {
    background-color: #fff;
    display: block;
    margin: 5px 10px;
    flex: 1 1 350px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    font-size: 1.25rem;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    -moz-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.form-container label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.form-container label:before {
    width: 18px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: var(--firstColor);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.form-container label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.form-container input:checked ~ label {
    color: #fff;
}
.form-container input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.form-container input:checked ~ label:after {
    background-color: #54e0c7;
    border-color: #54e0c7;
}
.form-container input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

/* - second part - */
@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(-1.1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-out-move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-1.1rem);
    }
}
@keyframes square-scale {
    0% {
        width: 0;
        height: 0;
    }
    15% {
        opacity: 1;
    }
    30% {
        border-radius: 50%;
    }
    /* small screen make sure to fill bg */
    95% {
        width: 120vw;
        height: 120vw;
    }
    100% {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}
@keyframes bar-graph-horizontal {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes bar-graph-vertical {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.fade-in-slide-effect {
    animation: fade-in-move-down .6s;
    opacity: 1;
}
.fade-out-slide-effect {
    animation: fade-out-move-up .6s;
    opacity: 0;
}
.square-scale-effect {
    animation: square-scale 1.3s;
    animation-fill-mode: forwards;
}
.bar-graph-horizontal-effect {
    animation: bar-graph-horizontal 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.bar-graph-vertical-effect {
    animation: bar-graph-vertical 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.rectangle {
    padding: 50px;
    background-color: aqua;
}
.disabled {
    display: none !important;
}

/* study intro slide */
#study-data-slide #slide-1 {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
#study-data-slide #slide-1 h1 {
    font-size: 5.5vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3%;
}
.subtitle {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1vw;
    color: var(--firstColor);
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 5px 0;
}
#study-data-slide #slide-1 .subtitle:first-of-type {
    margin-bottom: 15px;
}
/* inside slide seperator */
.slide-seperator-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    align-items: stretch;
}
.slide-seperator-elem {
    padding: 0 15px;
    flex: 1 1 33%;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}
#study-data-slide .slide-seperator-elem .main-title span, #study-data-slide .slide-seperator-elem .underline {
    font-size: 2vw;
    line-height: 2.8vw;
    text-align: center;
}
.slide-seperator-elem .bar-label {
    width: 10vw;
    height: 5.5vw;
}
/* - bar graph - */
.horizontal-bar-graph {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex: 1 1 100%;
    margin-top: 2vw;
}
.bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: white;
    font-size: 1.2vw;
    margin: 2px 0;
}
.bar h2 {
    font-size: 1.2vw;
    font-weight: 500;
}
.bar-label {
    display: flex;
    align-items: center;
    background-color: var(--thirdColor);
    padding: 10px;
    z-index: 2;
    height: 7.5vw;
    min-height: 100%;
    width: 22vw;
}
.light-bg {
    background-color: var(--barSecondColor);
}
.bar-display {
    display: flex;
    background-color: var(--firstColor);
    position: relative;
    padding: 12px 20px 12px 0;
    width: 0;
    height: 100%;
    max-height: 45px;
    white-space: nowrap;
    border-radius: 0 50px 50px 0;
    justify-content: flex-end;
    align-items: center;
}
.bar-line-container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    height: 100%;
    flex: 0 1 79%;
    margin: 5px 0 5px -2vw;
}
.horizontal-bar-graph .bar:first-child .bar-line-container {
    margin-top: 0;
}
.horizontal-bar-graph .bar:last-child .bar-line-container {
    margin-bottom: 0;
}
.bar-line-container .bar-elem:nth-child(2) .bar-display {
    background-color: var(--barSecondColor);
}
.hz-graph-legend {
    position: absolute;
    right: 15%;
    bottom: 10px;
    color: var(--thirdColor);
    font-size: 2rem;
}
.hz-graph-legend span:first-of-type {
    color: var(--barSecondColor);
}
.hz-graph-legend span:last-of-type {
    color: var(--firstColor);
}

.vertical-bar-graph {
    display: flex;
    flex: 0 1 65%;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}
.vertical-bar-graph .bar {
    justify-content: center;
    align-items: flex-end;
    flex-flow: column nowrap;
}
.vertical-bar-graph .bar-display {
    width: 4vw;
    height: 0;
    padding: 20px 0 0 0;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50px 50px 0 0;
    max-height: none;
    max-width: 65px;
    margin-bottom: -2vw;
}
.vertical-bar-graph .bar-label {
    border-radius: 0;
    width: 11vw;
    height: 4.5vw;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
.vertical-bar-graph .bar-line-container {
    width: 100%;
    margin: 0;
    flex-flow: row nowrap;
    min-height: 24vw;
    align-items: flex-end;
}
.vertical-bar-graph .bar-elem {
    display: flex;
    align-items: flex-end;
}
.vertical-bar-graph .bar-line-container .bar-elem .bar-display {
    background-color: var(--firstColor);
}
/* - pyramid graph */
.pyramid-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column nowrap;
    flex: 0 1 40%;
    height: 75%;
    clip-path: polygon(30% 100%, 70% 100%, 100% 0, 0 0);
    font-weight: 800;
}
.pyramid-elem, .pyramid-label-content {
    background-color: var(--secondColor);
    margin: 0 0 10px 0;
    text-align: center;
    color: white;
    font-size: 1.4vw;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pyramid-label-content {
    background-color: var(--firstColor);
    padding-left: 23%;
    border-radius: 50px;
}
.pyramid-label-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column nowrap;
    flex: .5 1 70%;
    height: 75%;
    margin-left: -20%;
}
/* study data slides title size */
#study-data-slide  .main-title span, #study-data-slide .underline {
    font-size: 3vw;
    line-height: 4vw;
}
#study-data-slide #bar-graph-5 .bar-label {
    height: 4.5vw;
    width: 57vw;
}
#slide-6 .slide-seperator-elem .bar-label {
    width: 17vw;
}
#study-data-slide #slide-6 .slide-seperator-elem .main-title span, #study-data-slide #slide-6 .slide-seperator-elem .underline {
    font-size: 3vw;
    line-height: 4vw;
}
#study-data-slide #slide-8 .horizontal-bar-graph {
    margin-top: -12vw;
}
#study-data-slide #slide-8 .slide-seperator-elem .bar-label {
    height: 7.5vw;
}
#study-data-slide #slide-8 .slide-seperator-elem {
    flex-flow: column nowrap;
}
#study-data-slide #bar-graph-8-1 h2 {
    line-height: 16px;
}
#study-data-slide #slide-8 .hz-graph-legend {
    right: 2%;
    bottom: 13%;
    font-size: 2vw;
}
#study-data-slide #slide-9 .bar-label {
    height: 4vw;
}
/* - media querys - */
@media only screen and (max-width: 579px) {
    .main-title span, .underline {
        font-size: 2.3rem;
        line-height: 49px;
    }
    .sort-list {
        width: 80%;
    }
}

@media only screen and (min-width: 580px) and (max-width: 620px) {
    .main-title span, .underline {
        font-size: 8vw;
        line-height: 49px;
    }
    .sort-list {
        width: 60%;
    }
}

@media only screen and (min-width: 621px) and (max-width: 1050px) {
    .main-title span, .underline {
        font-size: 7vw;
        line-height: 9vw;
    }
    .sort-list {
        width: 60%;
    }
}

@media only screen and (max-width: 720px) {
    .slide-seperator-elem .main-title-container {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 950px) {
    .slide-seperator-elem {
        padding: 0 5px;
    }
    #study-data-slide #slide-5 .main-title-container {
        margin-bottom: 0;
    }
    #study-data-slide #slide-5 .main-title span, #study-data-slide #slide-5 .underline {
        font-size: 2vw;
        line-height: 3vw;
    }
    #slide-8 .horizontal-bar-graph {
        margin-top: 0;
    }
    #slide-8 .hz-graph-legend {
        bottom: 0;
    }
}

@media only screen and (max-height: 720px) {
    .main-title-container {
        padding-top: 0;
    }
    .main-title span, .underline {
        font-size: 5.5vw;
        line-height: 5.7vw;
    }
    /* question slide */
    .sort-container {
        top: 55%;
    }
    /* question slide */
    #slide-4 .sort-container {
        top: 68%;
    }
    /* question slide */
    #slide-6 .sort-container {
        top: 42%;
    }
}

@media only screen and (max-height: 970px) {
    .vertical-bar-graph {
        flex: 1 1 90%;
        height: 65%;
    }
    .vertical-bar-graph .bar-label {
        width: 13vw;
    }
}