/* -- wrapper -- */
#main-wrapper {
    margin: 2% 5% 10% 5%;
}
/* collage */
#collage-wrapper {
    display: flex;
    height: 77vh;
    flex-wrap: wrap;
}
.collage-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#collage-wrapper .collage-container:nth-child(1) {
    flex: 100%;
}
#collage-wrapper .collage-container:nth-child(2) {
    flex: 60%;
}
#collage-wrapper .collage-container:nth-child(3) {
    flex: 40%;
}

.collage-elem {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px;
    margin: 6px;
    color: white;
    background-color: var(--secondColor);
}
.collage-text-itembox {
    display: block;
}
.collage-elem img {
    width: 20%;
    min-width: 7rem;
    padding: 20px;
}
.collage-nav-item {
    cursor: pointer;
}

#ce6 img {
    width: 35%;
}
#ce1, #ce2 {
    flex: 1;
}
#ce7 {
    flex: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .75px;
    background-color: var(--firstColor);
    color: #000000;
}

#ce4 {
    flex: 65%;
}
#ce5, #ce3 {
    flex: 48%
}
#ce6 {
    flex: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}


.placeholder {
    height: 2000px;
}
.img-banner {
    width: 100%;
    margin: auto;
}
.img-banner-icon {
    width: 50%;
}
.project-wrapper {
    /* padding for logo to be not at the top after using nav */
    display: none;
    padding-top: 40px;
    text-align: left;
    margin: 5% 0;
}
#jmonds-project-elem {
    display: block;
}
.project-wrapper h2:nth-child(1), .project-wrapper span {
    display: inline-block;
    font-size: 2.9rem;
    font-weight: 600;
}
.flexbox-title h3 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 5%;
}
.project-wrapper a {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 100;
}
.project-wrapper .fr-version a {
    color: var(--firstColor);
}
.project-wrapper .fr-version {
    background-color: var(--secondColor);
    color: white;
}
.project-wrapper .sec-version a {
    color: #FFFFFF;
}
.project-wrapper .sec-version {
    background-color: var(--firstColor);
    color: #000000;
}
.project-wrapper section:nth-child(2n) {
    margin-left: 10px;
}
.project-wrapper section:nth-child(1), .project-wrapper section:nth-child(3) {
    margin-right: 10px;
}
.flexbox {
    display: flex;
    align-items: stretch;
    margin: 25px 0;
    flex-wrap: wrap;
}
.flexbox-child {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 400px;
    min-width: 350px;
}
.flexbox-title {
    width: 100%;
    display: block;
    margin: auto 0;
}
.flexbox-content {
    padding: 0 40px 40px 40px;
}