/* -- main -- */
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    font-family: 'Inconsolata', monospace;
    --mainColor: #ffffff;
}

html, body {
    font-family: inherit;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* -- wrapper -- */
#main-wrapper {
    padding: 50px 0;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    height: 75vh;
}

#navigation-wrapper {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    height: 100%;
    /* makes elem fit to inner content and not use 100% of avialable space,
    here width cause of the horizontal flex direction */
    align-items: flex-start;
    /* make elements "block elements" */
    -ms-flex-direction: column;
    flex-direction: column;
    /* vertical alignment */
    justify-content: center;
    padding-left: 8%;
}

#navigation-image-wrapper {
    display: block;
    height: 100%;
    margin-left: auto;
    position: relative;
    width: 62%;
    overflow: hidden;
}

.main-banner-container {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(1) skewX(5deg);
    transition: 0s .45s;
    opacity: 0;
}

.main-banner-image--active {
    transform: scaleX(1);
    transition: .4s cubic-bezier(.215, .61, .355, 1);
    opacity: 1;
    /* assure that transition is seen */
    z-index: 9;
}

/* -- header -- */
#header-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 20vh;
}

#logo-container {
    margin: auto 0;
    padding-left: 8%;
}
#logo-container img {
    width: 20%;
    height: auto;
}

#main-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    height: inherit;
}

#main-title-container h1, #header-underline {
    font-size: 3.5rem;
    font-weight: 300;
    display: inline-block;
}

#main-title-container .header-elem-container:last-of-type {
    margin-left: 7px;
}
#writingBlock {
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    display: inline-block;
}

#writingBlock h1 {
    margin: 0;
}
.header-elem-container {
    min-width: 140px;
    width: 9rem;
    text-align: left;
}
.header-elem-container:nth-child(2) {
    width: 15.6rem;
}

/* -- navigation -- */
nav a {
    text-decoration: none;
    color: #000000;
}

.nav-item {
    display: inline-block;
    line-height: 1em !important;
    margin: 10px 0;
    padding: 5px 10px 4px 8px;
    position: relative;
    vertical-align: top;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3.5rem;
    /* slide effect credit: https://www.kirupa.com/html5/sliding_background_effect_on_link_hover.htm */
    background-image: linear-gradient(90deg,
    #FFFFFF 0%,
    #FFFFFF 50%,
    #000000 50%,
    #000000 100%);
    background-size: 201%;
    transition: background-position .3s cubic-bezier(.165,.84,.44,1),color .1s;
    transition-delay: 0.0s, 0.15s;
}

.nav-title {
    display: inline-block;
}

/* '_' blink animation */
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.underline {
    font-weight: 500;
}

/* toggle class applied via js */
.underline--hover {
    animation: blink .7s infinite;
}

/* toggle class applied via js */
.nav-item--hover {
    color: #FFFFFF;
    background-position: -100% 100%;
}


/* -- footer -- */
footer {
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    overflow: hidden;
}

#footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0 40px;
}

.footer-container h4, .footer-container a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}
.footer-container a:hover {
    text-decoration: underline;
}
.footer-container a:first-child {
    margin-right: 20px;
}


/* -- media querys -- */
/* ipad + some pixel above */
@media only screen and (min-width: 580px) and (max-width: 850px) {
    #navigation-wrapper {
        width: 55%;
    }
    #header-wrapper {
        height: 13vh;
    }
    #main-wrapper {
        padding: 25px 0;
    }
    .nav-item {
        margin: 20px 0;
    }
    #footer-wrapper {
        font-size: 0.8rem;
        margin: 0 20px;
    }
}

/* phone + little above for smoother transition into ipad format */
@media only screen and (max-width: 579px) {
    #main-wrapper {
        padding: 25px 0;
    }
    #navigation-wrapper {
        width: 70%;
    }
    .nav-item {
        font-size: 2.85rem;
        margin: 20px 0;
    }
    #navigation-image-wrapper {
        width: 80%;
    }
    #header-wrapper {
        height: 17vh;
    }
    #main-title-container h1, #header-underline {
        font-size: 2.9rem;
    }
    #main-title-container .header-elem-container:first-child {
        text-align: right;
    }
    footer {
        height: 7%;
    }
    #footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.8rem;
        margin: 2px 5px;
    }
    .footer-container {
        display: block;
        vertical-align: center;
    }
    .footer-container h4 {
        margin: 0;
    }
}

@media only screen and (max-width: 374px) {
    #navigation-wrapper {
        width: 90%;
    }
    #header-wrapper {
        height: 15vh;
    }
    #main-wrapper {
        padding: 10px 0;
    }
    #main-title-container .header-elem-container:last-of-type {
        margin-left: 2px;
    }
    .header-elem-container {
        min-width: 80px;
    }
}