/* -- wrapper -- */
#main-wrapper {
    margin: 2% 5%;
}
#main-title-container {
    display: flex;
    align-items: end;
    text-align: left;
}
#main-title-container > * {
    display: inline-block;
}

/* collage */
#collage-wrapper {
    display: flex;
    height: 77vh;
    flex-wrap: wrap;
}
.collage-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#collage-wrapper .collage-container:nth-child(1) {
    flex: 100%;
}
#collage-wrapper .collage-container:nth-child(2) {
    flex: 60%;
}
#collage-wrapper .collage-container:nth-child(3) {
    flex: 40%;
}

.collage-elem {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px;
    margin: 6px;
    color: white;
    background-color: #010022;;
}
/* collage elems border */
.collage-elem::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--secondColor);
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: -1;
}
.collage-elem::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--firstColor);
    position: absolute;
    left: -3px;
    top: -3px;
    z-index: -1;
}
.collage-text-itembox {
    display: block;
}
.collage-elem img {
    width: 20%;
    min-width: 7rem;
    padding: 20px;
}
.collage-nav-item {
    cursor: pointer;
}

#ce6 img {
    width: 35%;
}
#ce1, #ce2 {
    flex: 1;
}
#ce7 {
    flex: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .75px;
    background-color: #80fce3;
    color: #000000;
}

#ce4 {
    flex: 65%;
}
#ce5, #ce3 {
    flex: 48%
}
#ce6 {
    flex: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}


#placeholder {
    height: 2000px;
}
